<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éxito en la subida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>¡Subida exitosa!</h1>
    <p>La imagen ha sido subida correctamente. Aquí está la imagen:</p>
    <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Imagen subida" width="400px">
    <br>
    <a href="/">Subir otra imagen</a>
</body>
</html>
